! author: Wouter Peters , 2016-01-27
!
! The time for which to start and end the data assimilation experiment in format YYYY-MM-DD HH:MM:SS

steps.todo          : run-obs, gap-fill, run-gaps

time.years          : 2001, 2002, 2003, 2004

crop.types          : Potato, Winter wheat, Winter barley

dir.project         : template

dir.wofost.input    : /Storage/CO2/wofost/

opt.wofost.parallel : True
opt.wofost.method   : topn
opt.wofost.ncells   : 1
opt.wofost.nsoils   : 1
opt.wofost.weather  : ECMWF

fwd.wofost.parallel : True
fwd.wofost.method   : topn
fwd.wofost.nsoils   : 1
fwd.wofost.weather  : ECMWF
fwd.wofost.potential: False
