! author: Wouter Peters , 2016-01-27
!
! The time for which to start and end the data assimilation experiment in format YYYY-MM-DD HH:MM:SS

steps.todo          : run-obs, gap-fill, run-gaps

time.years          : 2001, 2002, 2003, 2004

crop.types          : Potato, Winter wheat, Winter barley

dir.project         : template

dir.wofost.input    : /Storage/CO2/wofost/

